doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
        nav
            a(href="/")
                img#logo(src="/images/logo.png", alt="logo")
            ul
                li
                    a(href="/sign-up") sign up
                li
                    a(href="/login") login
        .searchNav
            form(action="/results" method="POST")
                .input_wrapper
                    label(for="destination") Destination
                    input(type="text" id="destination" name="destination" required)
                .input_wrapper
                    label(for="duration") Duration
                    input(type="text" id="duration" name="duration" required)
                .input_wrapper
                    label(for="departure-date") Departure Date
                    input(type="date" id="departure-date" name="dateOfDeparture" required)
                .input_wrapper
                    label(for="number-guests") Number of guests
                    input(type="number" id="number-guests" name="numberOfGuests" required)
                .input_wrapper
                    select(name="stars")
                        option(value="1") Min 1 star
                        option(value="2") Min 2 star
                        option(value="3") Min 3 star
                        option(value="4") Min 4 star
                        option(value="5") Min 5 star
                .input_wrapper
                    select(name="sort")
                        option(value="1") Price: Low - High
                        option(value="-1") Price: High - Low
                .input_wrapper
                    button(type="submit") SEARCH
        img(src='/images/beach.jpg')
    block content
